<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_introduction" />
        <activity
            android:name=".Abductors"
            android:label="@string/title_activity_abductors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Adductors"
            android:label="@string/title_activity_adductors"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Abs"
            android:label="@string/title_activity_abs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Biceps"
            android:label="@string/title_activity_biceps"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Chest"
            android:label="@string/title_activity_chest"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Forearm"
            android:label="@string/title_activity_forearm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Obliques"
            android:label="@string/title_activity_obliques"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shoulders"
            android:label="@string/title_activity_shoulders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quads"
            android:label="@string/title_activity_quads"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MealMenu"
            android:label="@string/title_activity_mealmenu"
            android:theme="@style/AppTheme" />
    </application>

</manifest>